@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --gray-100: hsl(0 0% 98%);
  --gray-200: hsl(0 0% 96%);
  --gray-300: hsl(0 0% 90%);
  --gray-400: hsl(0 0% 50%);
  --gray-500: hsl(0 0% 20%);
  --gray-600: hsl(0 0% 15%);
  --gray-700: hsl(0 0% 10%);
  --gray-800: hsl(0 0% 6%);
  --gray-900: hsl(0 0% 3%);

  --bw-100: var(--gray-100);
  --bw-200: var(--gray-200);
  --bw-300: var(--gray-300);
  --bw-400: var(--gray-400);
  --bw-500: var(--gray-500);
  --bw-600: var(--gray-600);
  --bw-700: var(--gray-700);
  --bw-800: var(--gray-800);
  --bw-900: var(--gray-900);

  --background: var(--gray-200);
  --accent-focus: var(--gray-800);
  --accent-hover: color-mix(in hsl, var(--background) 95%, black 5%);
  --accent: var(--blue);
  --orange: hsl(35, 96%, 53%);
  --red: hsl(0, 100%, 68%);
  --blue: hsl(208, 100%, 50%);
  --text: var(--gray-800);
  --border-radius: 12px;
  --shadow-color: hsl(from var(--bw-400) h s l / 0.4);
  --shadow: 0 0 5px -1px var(--shadow-color);
  --animation-function: cubic-bezier(0.16, 1, 0.25, 1);
}

.dark {
  --bw-100: var(--gray-900);
  --bw-200: var(--gray-800);
  --bw-300: var(--gray-700);
  --bw-400: var(--gray-600);
  --bw-500: var(--gray-500);
  --bw-600: var(--gray-400);
  --bw-700: var(--gray-300);
  --bw-800: var(--gray-200);
  --bw-900: var(--gray-100);

  --shadow-color: hsl(from var(--bw-700) h s l / 0.4);
  --background: var(--gray-800);
  --accent-focus: var(--gray-300);
  --accent-hover: color-mix(in hsl, var(--background) 95%, white 5%);
  --text: var(--gray-200);
}

@theme inline {
  --color-bw-100: var(--bw-100);
  --color-bw-200: var(--bw-200);
  --color-bw-300: var(--bw-300);
  --color-bw-400: var(--bw-400);
  --color-bw-500: var(--bw-500);
  --color-bw-600: var(--bw-600);
  --color-bw-700: var(--bw-700);
  --color-bw-800: var(--bw-800);
  --color-bw-900: var(--bw-900);

  --color-background: var(--background);
  --color-text: var(--text);
  --color-accent: var(--accent);
  --color-accent-focus: var(--accent-focus);
  --color-accent-hover: var(--accent-hover);
  --color-blue: var(--blue);
  --color-orange: var(--orange);
  --color-red: var(--red);
  --color-ring: var(--shadow-color);
  --color-shadow-b: hsl(from var(--shadow-color) h s l / 0.1);
  --shadow-shadow: var(--shadow);
  --radius-normal: var(--border-radius);
  --ease-explosive: var(--animation-function);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
